@import './responsive.scss';

.layout {
    background-color: rebeccapurple;
    height: 100vh;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;

    @include lg{
        background-color: red;
        max-width: 1280px; // Applied for large screens
    }

    @include md{
        background-color: green; 
        max-width: 768px;// Applied for medium screens
    }
    @include sm {
        background-color: gold;
        max-width: 640px; // Applied for small screens
    }

   

   
}


